/*
* @Author:wangxiaolei
* @Date:2020-04-02
 * @Last Modified by: mikey.zhaopengpeng
 * @Last Modified time: 2020-04-03 10:29:153 10:29:15
 */
/*
样式2
 */
html{
    font-size: 20px;
}
@media (max-width:340px) {
/*
样式1
 */
    html{
        font-size:18px;
    }
}
@media (min-width:410px) {
/*
样式3
 */
    html{
        font-size:22px;
    }
}
body{
    max-width: 640px;
    margin: 0 auto;
    background: #f8f8f8;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.tt-mask{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,.5);
    z-index:300;
}