/*
* @Author:wangxiaolei
* @Date:2020-04-02
* @Last Modified by: wangxiaolei
* @Last Modified time: 2020-04-02
*/
.tt-content{
    box-sizing: border-box;
    position: relative;
    overflow-y: auto;
}
.tt-header~.tt-content{
    padding-top: 2.3rem;
}
.tt-navbar~.tt-content{
    padding-bottom: 2.5rem;
}
/* 内容分区 -- Panel面板 */
/* Panel 标题*/
.tt-content .tt-panel-title{
    height: 1.8rem;
    line-height: 1.8rem;
    padding-left: 1rem;
    color: #aaa;
    background: #fff;
    border-top: 1px solid #eee;
    font-size: 14px;
    font-weight: normal;
}
/*Panel内容区*/
.tt-content .tt-panel-body{
    position: relative;
    margin-bottom: .6rem;
    padding: .6rem 1rem;
    background: #fff;
    overflow: hidden;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
/*可手动设置内容区是否有内边框*/
.tt-content .tt-panel-body.no-padding{
    padding:0;
}